<a href="https://colab.research.google.com/github/StefanBelgica/homeassignment1/blob/main/Colibri_Home_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Prerequisites to running PySpark and SQLite in Google Collab

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark
!curl -O https://repo1.maven.org/maven2/org/xerial/sqlite-jdbc/3.34.0/sqlite-jdbc-3.34.0.jar

## Set up environment variables

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

## Import PySpark and create Spark Session

In [ ]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").config(
        "spark.jars",
        "sqlite-jdbc-3.34.0.jar".format(os.getcwd())).config(
        "spark.driver.extraClassPath",
        "sqlite-jdbc-3.34.0.jar".format(os.getcwd())).getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Property used to format output tables better
spark

## PySpark function imports

In [ ]:
from pyspark.sql.functions import col, mean, stddev, max, min, window

## Check that our CSV's are in place (these were imported to the root of Google Drive and not to the Collab session as it does not keep files after deactivation)

In [ ]:
!ls drive/MyDrive/'Colibri Dataset'

data_group_1.csv  data_group_2.csv  data_group_3.csv

## Read the data and inspect the schema

In [ ]:
data = spark.read.csv("drive/MyDrive/Colibri Dataset/", header=True, sep=',', inferSchema=True)
data.show()
print(data.schema)
print(f'Number of entries: {data.count()}')

+-------------------+----------+----------+--------------+------------+
|          timestamp|turbine_id|wind_speed|wind_direction|power_output|
+-------------------+----------+----------+--------------+------------+
|2022-03-01 00:00:00|        11|       9.1|           269|         2.9|
|2022-03-01 00:00:00|        12|      11.3|           316|         2.5|
|2022-03-01 00:00:00|        13|      11.2|           148|         3.7|
|2022-03-01 00:00:00|        14|      10.7|            97|         1.6|
|2022-03-01 00:00:00|        15|      11.0|            81|         4.4|
|2022-03-01 01:00:00|        11|      12.3|           245|         1.8|
|2022-03-01 01:00:00|        12|      11.0|           293|         2.2|
|2022-03-01 01:00:00|        13|      11.4|           270|         1.9|
|2022-03-01 01:00:00|        14|      10.4|           140|         2.3|
|2022-03-01 01:00:00|        15|      14.6|           283|         4.3|
|2022-03-01 02:00:00|        11|      14.3|           135|         2.9|
|2022-03-01 02:00:00|        12|       9.1|           358|         3.2|
|2022-03-01 02:00:00|        13|      13.7|            67|         3.1|
|2022-03-01 02:00:00|        14|       9.2|            89|         2.7|
|2022-03-01 02:00:00|        15|       9.7|           303|         4.5|
|2022-03-01 03:00:00|        11|       9.6|           171|         2.6|
|2022-03-01 03:00:00|        12|      11.0|           175|         2.4|
|2022-03-01 03:00:00|        13|      13.0|            42|         4.1|
|2022-03-01 03:00:00|        14|      13.6|           198|         3.1|
|2022-03-01 03:00:00|        15|       9.3|           162|         3.8|
+-------------------+----------+----------+--------------+------------+
only showing top 20 rows

StructType(List(StructField(timestamp,StringType,true),StructField(turbine_id,IntegerType,true),StructField(wind_speed,DoubleType,true),StructField(wind_direction,IntegerType,true),StructField(power_output,DoubleType,true)))
Number of entries: 11160

## Drop missing values, as imputing them with the mean value or something similar would affect our stats and then mistakenly mark anomalies

In [ ]:
cleaned_data = data.dropna()

## Calculate summary stats

In [ ]:
summary_stats = (
    cleaned_data.groupBy("turbine_id", window("timestamp", "24 hours"))
    .agg(
        min(col("power_output")).alias("min_power_output"),
        max(col("power_output")).alias("max_power_output"),
        mean(col("power_output")).alias("mean_power_output"),
        stddev(col("power_output")).alias("stddev_power_output"),
        )
    )
summary_stats

+----------+--------------------+----------------+----------------+------------------+-------------------+
|turbine_id|              window|min_power_output|max_power_output| mean_power_output|stddev_power_output|
+----------+--------------------+----------------+----------------+------------------+-------------------+
|         6|{2022-03-09 00:00...|             1.5|             4.5| 2.816666666666667|  0.978759937110604|
|         2|{2022-03-01 00:00...|             1.6|             4.4|2.9833333333333325|  0.980535198431101|
|         1|{2022-03-06 00:00...|             1.5|             4.4|2.9583333333333335| 0.9245053514866944|
|        13|{2022-03-01 00:00...|             1.8|             4.3|3.0333333333333337|  0.796004515317468|
|        11|{2022-03-11 00:00...|             1.6|             4.1| 2.891666666666667| 0.7552233569220299|
|         7|{2022-03-28 00:00...|             1.8|             4.5|3.0250000000000004|  0.846090754716887|
|         1|{2022-03-25 00:00...|             1.5|             4.4|3.0666666666666664| 0.8646017764751921|
|         1|{2022-03-13 00:00...|             1.5|             4.5| 2.904166666666667| 0.9424663143174872|
|        14|{2022-03-09 00:00...|             1.9|             4.3|3.1624999999999996| 0.7716794220625445|
|        13|{2022-03-23 00:00...|             1.6|             4.4| 3.266666666666666| 0.9253279872877351|
|        10|{2022-03-15 00:00...|             1.7|             4.3|3.0250000000000004| 0.8689073598491382|
|         4|{2022-03-12 00:00...|             1.5|             4.5|2.8916666666666675|  0.931999564595283|
|         7|{2022-03-11 00:00...|             1.6|             4.5|3.1791666666666667| 0.9463794471410579|
|         4|{2022-03-13 00:00...|             1.5|             4.5| 2.920833333333333| 1.1092414825756682|
|        15|{2022-03-04 00:00...|             1.6|             4.2|3.1041666666666665| 0.8829196460886322|
|        14|{2022-03-16 00:00...|             1.6|             4.5|              3.25|  0.926892892832073|
|         8|{2022-03-17 00:00...|             1.6|             4.3|2.7208333333333337| 0.6672325496873776|
|         7|{2022-03-24 00:00...|             1.5|             4.4|              2.75| 0.9217186215930024|
|        13|{2022-03-16 00:00...|             1.7|             4.4|3.0833333333333326| 0.9328155913878325|
|         8|{2022-03-07 00:00...|             1.5|             4.4|            2.9375|   1.02821605748479|
+----------+--------------------+----------------+----------------+------------------+-------------------+
only showing top 20 rows

## Get anomalies from cleaned dataset

In [ ]:
anomalies = (
    summary_stats.withColumn("lower_bound", col("mean_power_output") - 2 * col("stddev_power_output"))
    .withColumn("upper_bound", col("mean_power_output") + 2 * col("stddev_power_output"))
    .join(cleaned_data, "turbine_id")
    .filter((col("power_output") < col("lower_bound")) | (col("power_output") > col("upper_bound")))
    .select(col("timestamp"), col("turbine_id"), col("wind_speed"), col("wind_direction"), col("power_output"), col("mean_power_output"), col("lower_bound"), col("upper_bound"))
)
anomalies

+-------------------+----------+----------+--------------+------------+------------------+------------------+------------------+
|          timestamp|turbine_id|wind_speed|wind_direction|power_output| mean_power_output|       lower_bound|       upper_bound|
+-------------------+----------+----------+--------------+------------+------------------+------------------+------------------+
|2022-03-01 00:00:00|        14|      10.7|            97|         1.6| 2.966666666666667|1.7470207213677624| 4.186312611965571|
|2022-03-01 00:00:00|        14|      10.7|            97|         1.6| 3.304166666666666|1.6055952293887892| 5.002738103944543|
|2022-03-01 00:00:00|        14|      10.7|            97|         1.6|3.1624999999999996|1.6191411558749107| 4.705858844125089|
|2022-03-01 00:00:00|        15|      11.0|            81|         4.4|            2.6625|1.0583613309426094| 4.266638669057391|
|2022-03-01 00:00:00|        15|      11.0|            81|         4.4| 2.995833333333333|1.6146187869328088|4.3770478797338574|
|2022-03-01 00:00:00|        15|      11.0|            81|         4.4|            2.7125|1.2771542607077735| 4.147845739292226|
|2022-03-01 01:00:00|        11|      12.3|           245|         1.8|             3.225| 1.855455486698938| 4.594544513301062|
|2022-03-01 01:00:00|        15|      14.6|           283|         4.3|            2.6625|1.0583613309426094| 4.266638669057391|
|2022-03-01 01:00:00|        15|      14.6|           283|         4.3|            2.7125|1.2771542607077735| 4.147845739292226|
|2022-03-01 02:00:00|        15|       9.7|           303|         4.5|            2.6625|1.0583613309426094| 4.266638669057391|
|2022-03-01 02:00:00|        15|       9.7|           303|         4.5| 2.970833333333333|1.4993901888196786| 4.442276477846988|
|2022-03-01 02:00:00|        15|       9.7|           303|         4.5| 2.850000000000001| 1.204981168338266| 4.495018831661736|
|2022-03-01 02:00:00|        15|       9.7|           303|         4.5| 2.995833333333333|1.6146187869328088|4.3770478797338574|
|2022-03-01 02:00:00|        15|       9.7|           303|         4.5|2.9958333333333322|1.5386422692990207| 4.453024397367644|
|2022-03-01 02:00:00|        15|       9.7|           303|         4.5|            2.7125|1.2771542607077735| 4.147845739292226|
|2022-03-01 04:00:00|        11|       9.2|           316|         4.2| 2.579166666666667|1.0188108915539729| 4.139522441779361|
|2022-03-01 04:00:00|        11|       9.2|           316|         4.2|2.7916666666666674|1.3936349239572294| 4.189698409376105|
|2022-03-01 05:00:00|        12|      12.9|            15|         1.6|3.3874999999999997|1.7295153669354288| 5.045484633064571|
|2022-03-01 05:00:00|        12|      12.9|            15|         1.6|3.3708333333333336|1.6897579356329144| 5.051908731033753|
|2022-03-01 05:00:00|        12|      12.9|            15|         1.6|3.2833333333333328| 1.804595132478744| 4.762071534187921|
+-------------------+----------+----------+--------------+------------+------------------+------------------+------------------+
only showing top 20 rows

In [ ]:
import sqlite3

## Attempt to write to SQLite database (doesn't work in collab)

In [ ]:
with sqlite3.connect("cleaned_data.db"):
  cleaned_data.write.jdbc("jdbc:sqlite:cleaned_data.db", "cleaned_data", mode="overwrite")
with sqlite3.connect("summary_stats.db"):
  summary_stats.write.jdbc("jdbc:sqlite:summary_stats.db", "summary_stats", mode="overwrite")

Py4JJavaError: ignored